<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
	<title> script</title>
</head>

<link rel="stylesheet" href="style.css">

<body onload = 'app.resetVal()'>
	 <div id="app">
    <div id="main">
        <ul id="list">
          <li v-for="box in boxes" v-bind:class="{active: isActive}">
            <template v-if="box.val === 'x'">
              <input type="button" name="" class="cross">            
            </template> 
            <template v-else-if="box.val ==='o'">
              <input type="button" name="" class="circle">
            </template>
            <template v-else-if="box.val ==='r'">
              <input type="button" name="" class="rectangle">
            </template>
            <template v-else>
              <input type="button" name="" class="empty" @click = "pick(box.num)">
            </template>

           </li>
        </ul>
    </div>
    <button id="reset" @click="resetVal">Начать заново</button><br>
    <h3>{{ winPlayer }}</h3>
  </div>



</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="script.js"></script>
</html>