*{
 	padding: 0px;
 	margin: 0px;
 }

#main {
	width: 395px;
	background: blue;
}
.empty{
	margin: 5px;
	width: 120px;
	height: 120px;
	background: white;
	float: left;
}
.circle{
	margin: 5px;
	width: 120px;
	height: 120px;
	background: white;
	background-image: url('images/circle.png');
	float: left;
}
.cross{
	margin: 5px;
	width: 120px;
	height: 120px;
	background-color: white;
	background-image: url('images/cross.png');
	float: left;
}
.cross:hover, .circle:hover, .empty:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

#reset{
	position: absolute;
    left: 150px;
    top: 400px;
}
ul{
	list-style: none;
}
